<section>
	<div class="container-fluid">
		<h2>VAGAS</h2>

		<div class="row">
			<div class="col-md-4">
				<div>
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					<h3>Numero total de Vagas:</h3>
					<h4>28</h4>
				</div>
			</div>

			<div class="col-md-4">
				<div>
					<i class="fa fa-car naotem" aria-hidden="true"></i>
					<h3>Vagas Ocupadas:</h3>
					<h4 id="vagasOcupadas">0</h4>
				</div>
			</div>

			<div class="col-md-4 ">
				<div>	
					<i class="fa fa-car tem" aria-hidden="true"></i>
					<h3>Vagas Livres:</h3>
					<h4 id="vagasLivres">28</h4>
				</div>
			</div>

		</div>
		<div class="row">
			
			<div class="col-md-2">
				<div class="placa">
				</div>
				1
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>

			<div class="col-md-2">
				<div class="placa">
				</div>
				2
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				3
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				4
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				5
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				6
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				7
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="placa">
				</div>
				8
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				9
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				10
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				11
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				12
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				13
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				14
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<div class="placa">
				</div>
				15
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				16
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				17
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				18
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				19
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				20
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				21
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="placa">
				</div>
				22
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				23
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				24
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				25
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				26
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				27
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
			<div class="col-md-2">
				<div class="placa">
				</div>
				28
				<i class="fa fa-car" aria-hidden="true"></i> 
					<div class="counter"></div>
				</i>
			</div>
		</div>


	</div>


	</section>

	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
 	<script src="js/bootstrap.min.js"></script>
 	<script src="js/jquery.mask.js"></script>
 	<script src="js/paremais.js"></script>
</body>
</html>
